<!DOCTYPE html>
<html>
<head>
    <title>Python-Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }
        #chatbox {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-top: 60px;
      }
      #userInput {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-top: 60px;
      }
      #textInput {
        width: 90%;
        border: none;
        border-bottom: 3px solid black;
        font-family: monospace;
        font-size: 17px;
      }
      .userText {
        color: white;
        font-family: monospace;
        font-size: 17px;
        text-align: right;
        line-height: 30px;
      }
      .userText span {
        background-color: #808080;
        padding: 10px;
        border-radius: 2px;
      }
      .botText {
        color: white;
        font-family: monospace;
        font-size: 17px;
        text-align: left;
        line-height: 30px;
      }
      .botText span {
        background-color: #4169e1;
        padding: 10px;
        border-radius: 2px;
      }
      #tidbit {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
      }
      .boxed {
        margin-left: auto;
        margin-right: auto;
        width: 78%;
        margin-top: 60px;
        border: 1px solid green;
      }
    </style>
</head>
<body>

    <div>
        <h1 align="center"><b>Welcome to Nour's Cinephilic ChatBot</b></h1>
        <h4 align="center"><b>Helping you pick a goddamn film since 2020</b></h4>
        <div class="boxed">
            <div>
                <div id="chatbox">
                    <p class="botText">
                        <span>Hello! I'm here to help you find what movie to watch on NetFlix. It can be so exhausting rifling through all those choices! First, I'll need you to rate movie genres out of 5. Are you ready for a preference elicitation quiz?</span>
                    </p>
                    <form method="POST" action="/user_preferences" name="user_preferences">


                            <label for="Adventure">Adventure:</label>
                            <select name="Adventure" id="Adventure">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Sci-Fi">Sci-Fi:</label>
                            <select name="Sci-Fi" id="Sci-Fi">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Drama">Drama:</label>
                            <select name="Drama" id="Drama">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Action">Action:</label>
                            <select name="Action" id="Action">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="IMAX">IMAX:</label>
                            <select name="IMAX" id="IMAX">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Thriller">Thriller:</label>
                            <select name="Thriller" id="Thriller">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Western">Western:</label>
                            <select name="Western" id="Western">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Musical">Musical:</label>
                            <select name="Musical" id="Musical">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Children">Children:</label>
                            <select name="Children" id="Children">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Horror">Horror:</label>
                            <select name="Horror" id="Horror">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Crime">Crime:</label>
                            <select name="Crime" id="Crime">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="War">War:</label>
                            <select name="War" id="War">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Animation">Animation:</label>
                            <select name="Animation" id="Animation">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Documentary">Documentary:</label>
                            <select name="Documentary" id="Documentary">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Mystery">Film-Noir:</label>
                            <select name="Mystery" id="Mystery">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Film-Noir">Film-Noir:</label>
                            <select name="Film-Noir" id="Film-Noir">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Fantasy">Fantasy:</label>
                            <select name="Fantasy" id="fantasy">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>

                            <label for="Comedy">Comedy:</label>
                            <select name="Comedy" id="comedy">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                        <input type="submit" value="Submit">
                    </form>

                </div>
                <div id="userInput">
                    <input id="textInput" type="text" name="msg" placeholder="Message" />
                </div>
            </div>
            <script>
                function getBotResponse() {
                    var rawText = $("#textInput").val();
                    var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
                    $("#textInput").val("");
                    $("#chatbox").append(userHtml);
                    document
                        .getElementById("userInput")
                        .scrollIntoView({ block: "start", behavior: "smooth" });
                    $.get("/get", { msg: rawText }).done(function (data) {
                        var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                        $("#chatbox").append(botHtml);
                        document
                            .getElementById("userInput")
                            .scrollIntoView({ block: "start", behavior: "smooth" });
                    });
                }
                $("#textInput").keypress(function (e) {
                    if (e.which == 13) {
                        getBotResponse();
                    }
                });
            </script>
        </div>
    </div>
</body>
</html>